body {
    background-color: #f5f6fa;
    color: #2f3640;
    text-align: center;
    padding: 1rem;
}

.pageLayout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containers {
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.1);
    padding: 1rem;
}

input {
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}

button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #0984e3;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #74b9ff;
}
